* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

body {
  background-color: #e8eddc;
}

main {
  min-height: 90vh;
}

.light-background {
  background-color: #e8eddc;
}

.dark-background {
  background-color: #000;
}

@media only screen and (min-width: 100px) {
  /* Transitions | Mobile */
  .divider,
  .alt-divider {
    width: 80%;
    height: 2px;
    margin: 2.5vh auto;
  }

  .divider {
    background-color: #000;
  }

  .alt-divider {
    background-color: #fcfcfc;
  }

  /* Font Sizing | Mobile */
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p,
  li {
    font-size: 1.25rem;
  }

  /* Buttons | Mobile */
  button {
    cursor: pointer;
  }

  .primary-btn,
  .secondary-btn {
    min-width: 60%;
    padding: 0.5vh 5vw;
    border-radius: 5px;
    border: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fcfcfc;
    transition: color 0.5s ease;
  }

  .primary-btn {
    background-color: #000;
  }

  .primary-btn:hover {
    color: #18a360;
  }

  .secondary-btn {
    background-color: #18a360;
  }

  .secondary-btn:hover {
    background-color: #111;
  }

  /* Navigation | Mobile */
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 10vh;
    transition: all 0.5s ease;
    position: sticky;
    top: 0;
    z-index: 500;
  }

  .header-active {
    background-color: #000000;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .logo img {
    height: 9.5vh;
    padding: 0 0.5rem;
    object-fit: contain;
    object-position: center;
    text-align: left;
    cursor: pointer;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    left: -100%;
    width: 100%;
    min-height: 90vh;
    background-color: #111;
    z-index: 10;
  }

  .nav-list-active {
    left: 0;
  }

  .nav-list ul {
    list-style: none;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav-list li {
    color: #fcfcfc;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 2rem;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 0;
  }

  .nav-list li:hover {
    color: #18a360;
  }

  .menu-btn {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .menu-btn p {
    color: #fcfcfc;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  .socials {
    display: none;
  }

  .socials img:hover {
    transform: scale(1.1);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /* Footer | Mobile */
  footer {
    min-height: 8vh;
    width: 100%;
    background-color: #000;
    padding: 2.5vh 0;
    color: #fcfcfc;
    text-align: center;
  }

  .contact h3 {
    width: 80%;
    margin: 0 auto;
  }

  .contact p {
    width: 80%;
    margin: 2.5vh auto;
  }

  .contact-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-btns button {
    margin: 1.25vh 0;
  }

  .footer-socials {
    text-align: center;
  }

  .footer-socials h3 {
    margin: 2.5vh auto;
  }

  .copyright p {
    margin-top: 5vh;
    font-size: 1rem;
  }

  /* Landing Page | Mobile */
  .landing-page,
  .index-landing-gradient {
    width: 100%;
    height: 92vh;
  }

  .landing-page {
    margin-top: -10vh;
  }

  .index-landing {
    background-image: url(/img/lambeau-field.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .index-landing-gradient {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to bottom, transparent 70%, #000);
    pointer-events: none;
  }

  .index-landing h2,
  .index-landing p {
    text-shadow: 0 0 8px #000;
  }

  .index-landing h2 {
    font-size: 2.25rem;
  }

  .index-landing p {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
  }

  .index-landing button {
    margin-top: 10vh;
  }

  /* Index Content | Mobile */
  .assistance-section {
    width: 100%;
    min-height: 60vh;
    padding: 5vh 0 2.5vh 0;
    text-align: center;
  }

  .assistance-section h3 {
    color: #fcfcfc;
    width: 80%;
    margin: 0 auto;
  }

  .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.25vh 0;
    align-items: flex-start;
  }

  .lg-container {
    min-height: 70vh;
  }

  .content-item {
    width: 90%;
    margin: 1.25vh auto;
    display: inline-block;
    background-color: #fcfcfc;
    border-radius: 5px;
    border: none;
    padding-bottom: 1vh;
    transition: transform 0.5s ease;
    text-align: center;
    box-shadow: 0px 0px 10px #afafaf;
    cursor: pointer;
  }

  .content-item img {
    width: 95%;
    margin: 2.5% auto 0 auto;
    border-radius: 5px;
    border: none;
  }

  .content-item h2 {
    font-size: 1.5rem;
  }

  .content-item p:last-of-type {
    margin-top: 1vh;
    font-size: 1rem;
    transition: color 0.5s ease;
  }

  .content-item:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  }

  .content-item:hover p:last-of-type {
    color: #18a360;
  }

  .about {
    width: 100%;
    min-height: auto;
    padding-top: 5vh;
  }

  .about-img-container {
    width: 80%;
    margin: 0 auto;
  }

  .about-img-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    border: none;
  }

  .about-info-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .about-info-container h3 {
    margin: 2.5vh 0;
  }

  .about-info-container p {
    margin: 2.5vh 0;
    font-weight: 200;
  }

  .extra-socials {
    text-align: center;
  }

  .extra-socials img {
    width: 5vh;
    transition: transform 0.5s ease;
  }

  .extra-socials img:hover {
    transform: scale(1.1);
  }

  .go-to-recommendation {
    text-align: center;
  }

  .go-to-recommendation h3 {
    width: 80%;
    margin: 0 auto;
  }

  /* Local's Guide | Mobile */
  .lg-options {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .lg-option {
    width: 98%;
    min-height: 22vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    text-shadow: 0 0 10px #111;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .lg-option h3 {
    font-size: 4rem;
    transition: color 0.5s ease;
  }

  .lg-option:hover h3 {
    color: #18a360;
  }

  .eat-option {
    background-image: url(/img/locals-guide/eat/eat-background.jpg);
  }

  .drink-option {
    background-image: url(/img/locals-guide/drink/drink-background.jpg);
  }

  .do-option {
    background-image: url(/img/locals-guide/see/see-background.jpg);
  }

  .misc-option {
    background-image: url(/img/locals-guide/misc/misc-background.jpg);
  }

  .search-section {
    padding: 5vh 0 2.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-form {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    box-shadow: 0px 0px 10px #afafaf;
  }

  .search-input {
    width: 85%;
    padding: 0.5vh 2vw;
    height: 5vh;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 1.25rem;
    outline: none;
  }

  .x-btn {
    position: absolute;
    top: 0;
    right: 15%;
    width: 10%;
    height: 5vh;
    background-color: transparent;
    border: none;
    color: #c90000;
    font-size: 1.25rem;
    display: none;
  }

  .search-btn {
    width: 15%;
    background-color: #000;
    color: #fcfcfc;
    font-size: 1.25rem;
    border-radius: 0 5px 5px 0;
    border: none;
    text-transform: uppercase;
    transition: color 0.5s ease;
  }

  .search-btn:hover {
    color: #18a360;
  }

  .disclaimer {
    width: 90%;
    margin: 1.25vh auto 2.5vh auto;
    text-align: center;
  }

  .disclaimer p {
    font-weight: 100;
    font-size: 1rem;
  }

  /* Article */
  .content-article {
    width: 90%;
    padding: 2.5vh 0;
    text-align: center;
    margin: 0 auto;
  }

  .content-article figure {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .content-article audio {
    margin: 5vh auto 2.5vh auto;
    width: 90%;
  }

  .content-article img {
    width: 90%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px #111;
  }

  .content-article h1 {
    font-size: 2.25rem;
    margin-top: 2.5vh;
    padding: 0 5%;
  }

  .content-article h2 {
    font-size: 2rem;
    margin-top: 5vh;
    padding: 0 2.5%;
  }

  .content-article h3 {
    font-size: 2rem;
  }

  .content-article p {
    text-align: left;
    padding: 2.5vh 2.5%;
  }

  .content-article a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.5s ease;
  }

  .content-article a:hover {
    color: #18a360;
  }

  .content-rating {
    background-color: #000;
    min-height: 5vw;
    min-width: 5vw;
    display: inline-block;
    padding: 0.5vh 2vw;
    border-radius: 5px;
    margin-top: 3.75vh;
    box-shadow: 0px 0px 10px #111;
    border: none;
  }

  .content-rating p {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    margin: 0 auto;
    color: #fcfcfc;
    padding: 0;
    text-align: center;
  }

  .content-rating p:first-child {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .content-rating p:last-child {
    font-size: 3.5rem;
  }

  .gold-rating p:last-child {
    color: #bd8b28;
  }

  .gold-rating {
    color: gold;
  }

  .content-article audio {
    width: 60%;
  }

  .tip {
    width: 100%;
    margin: 2.5vh auto;
    background-color: #000;
    color: #fcfcfc;
    padding: 5vh 5%;
    text-align: center;
  }

  .tip button {
    margin-top: 5vh;
  }

  .content-locations {
    padding: 2.5vh 0;
    position: relative;
  }

  .cycle-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    min-width: 7.5vw;
    height: 10vh;
    font-size: 2rem;
    padding: 1vh 0.5vw;
    background-color: #000;
    color: #fcfcfc;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  .cycle-btn:hover {
    color: #18a360;
  }

  .back-btn {
    left: 1vw;
  }

  .next-btn {
    right: 1vw;
  }

  .content-location {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .content-location figure {
    text-align: center;
  }

  .content-location img {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px #111;
  }

  .content-location h1 {
    font-size: 2.25rem;
    margin-top: 2.5vh;
  }

  .content-location ul {
    list-style: none;
    padding: 5vh 0;
  }

  .content-location button {
    margin: 1.25vh 0;
  }

  .content-suggestions {
    text-align: center;
  }

  /* No Search Results - Mobile */
  .null-search {
    width: 80%;
    margin: 0 auto;
    min-height: 70vh;
  }

  .null-search p {
    margin: 2.5vh 0;
  }

  .null-search p:first-child {
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
  }

  .null-search p:last-child {
    text-align: center;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Transitions | Tablet */
  .divider,
  .alt-divider {
    width: 60%;
  }

  /* Font Sizing | Tablet */
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  p,
  li {
    font-size: 1.25rem;
  }

  /* Buttons | Tablet */
  .primary-btn,
  .secondary-btn {
    min-width: 40%;
    padding: 0.5vh 2vw;
  }

  /* Navigation - Tablet */
  .logo {
    margin-left: 5rem;
  }

  .nav-list ul {
    text-align: center;
  }

  .menu-btn {
    margin-right: 5rem;
  }

  /* Landing Page | Tablet */
  .landing-page,
  .index-landing-gradient {
    height: 60vh;
  }

  .index-landing p {
    width: 60%;
    font-size: 1.5em;
  }

  .index-landing button {
    margin-top: 5vh;
  }

  /* Footer | Tablet */

  .contact p {
    width: 70%;
  }

  .copyright p {
    font-size: 1.25rem;
  }

  /* Index Content | Tablet */
  .assistance-section h3 {
    width: 50%;
    margin: 2.5vh auto;
  }

  .content-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content-item {
    width: 45%;
    margin: 2.5vh auto;
  }

  .about-img-container {
    width: 50%;
  }

  .about-info-container {
    width: 65%;
  }

  /* Local's Guide | Tablet */
  .lg-option {
    width: 97.5%;
    min-height: 21.25vh;
  }

  .search-form {
    width: 70%;
  }

  .disclaimer {
    width: 70%;
  }

  /* Article - Tablet */
  .content-article {
    width: 60%;
  }

  .tip {
    padding: 5vh 10%;
  }

  .cycle-btn {
    min-width: 5vw;
    top: 40%;
    height: 10vh;
    font-size: 2rem;
  }

  .back-btn {
    left: 5vw;
  }

  .next-btn {
    right: 5vw;
  }

  .content-location figure {
    width: 50%;
    margin: 0 auto;
  }

  .location-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .content-location h1 {
    font-size: 2rem;
  }

  .content-location p {
    font-size: 1.5rem;
  }

  .content-location ul {
    padding: 2.5vh 0;
  }

  .content-location li {
    font-size: 1.5rem;
  }

  .content-suggestions {
    text-align: center;
  }

  /* No Search Results - Tablet */
  .null-search {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content-rating {
    min-height: 5vw;
    min-width: 5vw;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  /* Transitions | Desktop */
  .divider,
  .alt-divider {
    width: 40%;
    margin: 5vh auto 5vh auto;
  }

  /* Font | Desktop */
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p,
  li {
    font-size: 1.1rem;
    font-weight: 300;
  }

  /* Buttons | Desktop */
  .primary-btn,
  .secondary-btn {
    min-width: 25%;
    padding: 0.5vh 2.5vw;
  }

  /* Navigation | Desktop */
  .header {
    min-height: 10vh;
  }

  .logo {
    margin-left: 5rem;
    width: 20vw;
  }

  .logo img {
    height: 9vh;
  }

  .socials {
    display: flex;
    min-width: 20vw;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1vh;
  }

  .socials img {
    width: 1.5vw;
    object-fit: contain;
    transition: all 0.5s ease;
    margin: 0 0.25vw;
  }

  .socials img:hover {
    transform: scale(1.1);
  }

  .nav-list {
    position: static;
    width: 45vw;
    margin-right: 5rem;
    min-height: 10vh;
    background-color: transparent;
  }

  .nav-list ul {
    height: 10vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .nav-list li {
    opacity: 1;
    padding-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 400;
  }

  .menu-btn {
    display: none;
  }

  /* Footer | Desktop */
  .contact h3 {
    width: 80%;
    margin: 0 auto;
  }

  .contact p {
    width: 50%;
    margin: 2.5vh auto;
  }

  .contact-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-btns button {
    margin: 0 1.25vw;
  }
  .footer-socials {
    text-align: center;
  }

  .footer-socials h3 {
    margin: 2.5vh auto;
  }

  .copyright p {
    margin-top: 5vh;
    font-size: 1rem;
  }

  /* Landing Page */
  .landing-page,
  .index-landing-gradient {
    height: 100vh;
  }

  .index-landing {
    background-position: top;
  }

  /* Landing Page | Desktop */
  .landing-page,
  .index-landing-gradient {
    height: 100vh;
  }

  .index-landing h2 {
    font-size: 3em;
  }

  .index-landing p {
    font-size: 1.5em;
  }

  .index-landing button {
    margin-top: 7.5vh;
  }

  /* Index Content | Desktop */
  .assistance-section h3 {
    margin-top: 5vh;
  }

  .content-container {
    flex-direction: row;
    margin-top: 2.5vh;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }

  .content-item {
    width: 24%;
  }

  .about {
    display: flex;
  }

  .about-img-container {
    width: 40%;
    text-align: center;
    margin-left: 10%;
    display: flex;
    align-items: center;
  }

  .about-img-container img {
    width: 80%;
  }

  .about-info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
  }

  /* Local's Guide | Desktop */
  .lg-options {
    flex-direction: row;
  }

  .lg-option {
    width: 24.5%;
    min-height: 89vh;
  }

  .lg-option h3 {
    font-size: 5rem;
    transition: color 0.5s ease;
  }

  .search-form {
    width: 40%;
  }

  .search-input {
    width: 90%;
    padding: 0.5vh 0.5vw;
  }

  .x-btn {
    right: 10%;
    width: 5%;
  }

  .search-btn {
    width: 10%;
  }

  .search-btn:hover {
    color: #18a360;
  }

  .disclaimer {
    width: 60%;
  }

  .disclaimer p {
    font-weight: 100;
    font-size: 1rem;
  }

  /* Article  - Desktop*/
  .content-article {
    width: 55%;
  }

  .content-article h2 {
    margin-top: 5vh;
    font-size: 1.75rem;
    padding: 0 0%;
  }

  .content-article figure {
    width: 80%;
  }

  .content-article img {
    width: 80%;
  }

  .tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
  }

  .tip button {
    margin-top: 5vh;
  }

  .content-location {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cycle-btn {
    min-width: 2.5vw;
    height: 5vh;
    font-size: 1.5rem;
    opacity: 0;
  }

  .content-locations:hover .cycle-btn {
    opacity: 1;
  }

  .back-btn {
    left: 5vw;
  }

  .next-btn {
    right: 5vw;
  }

  .content-locations {
    padding: 2.5vh 0;
  }

  .content-location figure {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-location img {
    width: 75%;
  }

  .location-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* No Search Results - Desktop */
  .null-search {
    width: 50%;
  }

  .null-search p {
    margin: 2.5vh 0;
  }

  .null-search p:first-child {
    font-size: 3.5rem;
  }

  /* Footer - Desktop */
  footer .secondary-btn {
    min-width: 15%;
  }
}
